.container{
	margin-left: 5%;
	margin-right:5%;
	max-height: 100%;
	overflow: hidden;
	margin-bottom:1em;
}


.col{
	float:left;
	top:0px;
	display:inline-block;
}

.center-block{
	margin:auto;
}

footer{
	width:100%;
	clear:left;
}

/* on small screen */
@media screen and (min-width: 0px) and (max-width: 859px){

	.hidden-s{
		color:white;
		background-color:white!important;
		overflow: hidden;
		transition:0.5s;
	}
/* offset small */
	.offset-s1{
		margin-left:4.16666667%;
	}

	.offset-s2{
		margin-left:8.33333334%;
	}

	.offset-s3{
		margin-left:12.5%;
	}

	.offset-s4{
		margin-left:16.6666667%;
	}

	.offset-s5{
		margin-left:20.83%;
	}

	.offset-s6{
		margin-left:25%;
	}

	.offset-s7{
		margin-left:29.1666667%;
	}

	.offset-s8{
		margin-left:33.3333334%;
	}

	.offset-s9{
		margin-left:37.5%;
	}

	.offset-s10{
		margin-left:41.6666667%;
	}

	.offset-s11{
		margin-left:45.83%;
	}

	.offset-s12{
		margin-left:50%;
	}

	.offset-s13{
		margin-left:54.1666%;
	}

	.offset-s14{
		margin-left:58.33%;
	}

	.offset-s15{
		margin-left:62.5%;
	}

	.offset-s16{
		margin-left:66.66666667%;
	}

	.offset-s17{
		margin-left:70.83%;
	}

	.offset-s18{
		margin-left:75%;
	}

	.offset-s19{
		margin-left:79.16666667%;
	}

	.offset-s20{
		margin-left:83.3333334%;
	}

	.offset-s21{
		margin-left:87.50%;
	}

	.offset-s22{
		margin-left:91.66666667%;
	}

	.offset-s23{
		margin-left:95.83%;
	}

	.offset-s24{
		margin-left:100%;
	}


/* width small */
	.s1{
		width:4.16666667%;
	}

	.s2{
		width:8.33333334%;
	}

	.s3{
		width:12.5%;
	}

	.s4{
		width:16.6666667%;
	}

	.s5{
		width:20.83%;
	}

	.s6{
		width:25%;
	}

	.s7{
		width:29.1666667%;
	}

	.s8{
		width:33.3333334%;
	}

	.s9{
		width:37.5%;
	}

	.s10{
		width:41.6666667%;
	}

	.s11{
		width:45.83%;
	}

	.s12{
		width:50%;
	}

	.s13{
		width:54.1666%;
	}

	.s14{
		width:58.33%;
	}

	.s15{
		width:62.5%;
	}

	.s16{
		width:66.66666667%;
	}

	.s17{
		width:70.83%;
	}

	.s18{
		width:75%;
	}

	.s19{
		width:79.16666667%;
	}

	.s20{
		width:83.3333334%;
	}

	.s21{
		width:87.50%;
	}

	.s22{
		width:91.66666667%;
	}

	.s23{
		width:95.83%;
	}

	.s24{
		width:100%;
	}
}

/* on medium screen */
@media screen and (min-width: 860px) and (max-width: 1169px){
	.hidden-m{
		color:white;
		background-color:white!important;
		overflow: hidden;
		transition:0.5s;
	}

/* offset medium */
	.offset-m1{
		margin-left:4.16666667%;
	}

	.offset-m2{
		margin-left:8.33333334%;
	}

	.offset-m3{
		margin-left:12.5%;
	}

	.offset-m4{
		margin-left:16.6666667%;
	}

	.offset-m5{
		margin-left:20.83%;
	}

	.offset-m6{
		margin-left:25%;
	}

	.offset-m7{
		margin-left:29.1666667%;
	}

	.offset-m8{
		margin-left:33.3333334%;
	}

	.offset-m9{
		margin-left:37.5%;
	}

	.offset-m10{
		margin-left:41.6666667%;
	}

	.offset-m11{
		margin-left:45.83%;
	}

	.offset-m12{
		margin-left:50%;
	}

	.offset-m13{
		margin-left:54.1666%;
	}

	.offset-m14{
		margin-left:58.33%;
	}

	.offset-m15{
		margin-left:62.5%;
	}

	.offset-m16{
		margin-left:66.66666667%;
	}

	.offset-m17{
		margin-left:70.83%;
	}

	.offset-m18{
		margin-left:75%;
	}

	.offset-m19{
		margin-left:79.16666667%;
	}

	.offset-m20{
		margin-left:83.3333334%;
	}

	.offset-m21{
		margin-left:87.50%;
	}

	.offset-m22{
		margin-left:91.66666667%;
	}

	.offset-m23{
		margin-left:95.83%;
	}

	.offset-m24{
		margin-left:100%;
	}

/* width medium */
	.m1{
		width:4.16666667%;
	}

	.m2{
		width:8.33333334%;
	}

	.m3{
		width:12.5%;
	}

	.m4{
		width:16.6666667%;
	}

	.m5{
		width:20.83%;
	}

	.m6{
		width:25%;
	}

	.m7{
		width:29.1666667%;
	}

	.m8{
		width:33.3333334%;
	}

	.m9{
		width:37.5%;
	}

	.m10{
		width:41.6666667%;
	}

	.m11{
		width:45.83%;
	}

	.m12{
		width:50%;
	}

	.m13{
		width:54.1666%;
	}

	.m14{
		width:58.33%;
	}

	.m15{
		width:62.5%;
	}

	.m16{
		width:66.66666667%;
	}

	.m17{
		width:70.83%;
	}

	.m18{
		width:75%;
	}

	.m19{
		width:79.16666667%;
	}

	.m20{
		width:83.3333334%;
	}

	.m21{
		width:87.50%;
	}

	.m22{
		width:91.66666667%;
	}

	.m23{
		width:95.83%;
	}

	.m24{
		width:100%;
	}
}

/* on large screen */
@media screen and (min-width: 1170px) {
	.hidden-l{
		color:white;
		background-color:white!important;
		overflow: hidden;
		transition:0.5s;
	}

/* offset large */
	.offset-l1{
		margin-left:4.16666667%;
	}

	.offset-l2{
		margin-left:8.33333334%;
	}

	.offset-l3{
		margin-left:12.5%;
	}

	.offset-l4{
		margin-left:16.6666667%;
	}

	.offset-l5{
		margin-left:20.83%;
	}

	.offset-l6{
		margin-left:25%;
	}

	.offset-l7{
		margin-left:29.1666667%;
	}

	.offset-l8{
		margin-left:33.3333334%;
	}

	.offset-l9{
		margin-left:37.5%;
	}

	.offset-l10{
		margin-left:41.6666667%;
	}

	.offset-l11{
		margin-left:45.83%;
	}

	.offset-l12{
		margin-left:50%;
	}

	.offset-l13{
		margin-left:54.1666%;
	}

	.offset-l14{
		margin-left:58.33%;
	}

	.offset-l15{
		margin-left:62.5%;
	}

	.offset-l16{
		margin-left:66.66666667%;
	}

	.offset-l17{
		margin-left:70.83%;
	}

	.offset-l18{
		margin-left:75%;
	}

	.offset-l19{
		margin-left:79.16666667%;
	}

	.offset-l20{
		margin-left:83.3333334%;
	}

	.offset-l21{
		margin-left:87.50%;
	}

	.offset-l22{
		margin-left:91.66666667%;
	}

	.offset-l23{
		margin-left:95.83%;
	}

	.offset-l24{
		margin-left:100%;
	}

/* width large */
	.l1{
		width:4.16666667%;
	}

	.l2{
		width:8.33333334%;
	}

	.l3{
		width:12.5%;
	}

	.l4{
		width:16.6666667%;
	}

	.l5{
		width:20.83%;
	}

	.l6{
		width:25%;
	}

	.l7{
		width:29.1666667%;
	}

	.l8{
		width:33.3333334%;
	}

	.l9{
		width:37.5%;
	}

	.l10{
		width:41.6666667%;
	}

	.l11{
		width:45.83%;
	}

	.l12{
		width:50%;
	}

	.l13{
		width:54.1666%;
	}

	.l14{
		width:58.33%;
	}

	.l15{
		width:62.5%;
	}

	.l16{
		width:66.66666667%;
	}

	.l17{
		width:70.83%;
	}

	.l18{
		width:75%;
	}

	.l19{
		width:79.16666667%;
	}

	.l20{
		width:83.3333334%;
	}

	.l21{
		width:87.50%;
	}

	.l22{
		width:91.66666667%;
	}

	.l23{
		width:95.83%;
	}

	.l24{
		width:100%;
	}
}
