@import url("tools.css");
@import url("basics.css");
@import url("grid.css");
@import url("color.css");

#toHide
{
	width: 320px;
    height: 200px;
}

.galleryImg
{
	width: 320px;
    height: 200px;
}
